html {
  font-family: "Poppins";
  /*width: 100%;*/
  height: 100%;
}

/*a {
  color: red;
}*/
a:hover, {
  color: white;
}
a:visited {
  color: #B4BFC3;
}
body {
  background-color: #22313A;
  color: grey;
  color: #9FAAB0;
}

#main {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Top Nav*/
.top-shelf {
  height: 10px;
}
.nav {
  border-bottom: 0;
}
.bk-blk {
  background-color: #1E2A31;
  /*height: 60px;*/
}

.nav-tabs .nav-link {
  border-radius: 0;
  border: none;
  height: 100%;
}

.nav-tabs .nav-item .active {
  background-color: #22313A;
  color: #eeeeee;
}

/*Left Nav*/
#data-header {
  background-color: #1E2A31;
  font-size: 1.5em;
  color: #9FAAB0;
  font-family: "Oswald";
  height: 60px;
}
.list-group .list-group-item {
  border-radius: 0;
  /*font-family: "Poppins";*/
  border: 0;
  background-color: #2B3942;
  color: #9FAAB0;
}

.list-group-item:nth-child(even) {
  background-color: #303E46;
}

/*Feed*/

.framed:first-child {
  margin-top: 0;
}

.card {
  margin: 10px;
  border: 0;
  border-radius: 0;
  font-family: "Oswald";
  background-color: #22313A;
}


.card-feed {
  height: 50px;
  /*border: 0;*/
  /*border-radius: 0;*/
  background-color: #2B3942;
  font-size: 1.5em;
}
/*.card-img-top:first-child {
  margin-top: 0;
}*/

.card-img-top {
  border-radius: 0;
  /*margin-top: 10px;*/
}



.framed {
  border: 1px solid #9FAAB0;
  margin: 30px 0 0 0;
  background-color: #303E46;
  /*padding-bottom: 0;*/
  margin-top: 30px;
  /*border-radius: 0;*/
  font-family: "Roboto Slab";

}
.card-header {
  /*background-color: #303E46;*/
  background-color: #22313A;
  font-family: "Roboto Slab";
  /*border-radius: 0;*/
}
.card-block {
  /*background-color: #1E2A31;*/
  background-color: #22313A;
}
.card-text {
  font-family: "Poppins";
}
.card-footer {
  background-color: #303E46;
  /*background-color: #22313A;*/
  font-family: "Roboto Slab";
  /*height: 30px;*/
  border: 0;
}
