html {
  font-family: "Poppins";
  /*width: 100%;*/
  height: 100%;
}

a:active {
  color: #0275d8;
}
a:hover, {
  color: white;
  text-decoration: none;
}
/*a:visited {
  color: #B4BFC3;
}*/
body {
  background-color: #22313A;
  color: grey;
  color: #9FAAB0;
}

#main {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Top Nav*/

.logo {
  margin-left: 20px;
  font-family: Poppins;
  font-size: 1.5em;
}
.top-shelf {
  height: 10px;
}
.nav {
  border-bottom: 0;
}
.bk-blk {
  background-color: #1E2A31;
  /*height: 60px;*/
}

.nav-tabs .nav-link {
  border-radius: 0;
  border: none;
  height: 100%;
}

.nav-tabs .nav-item .active {
  background-color: #22313A;
  color: #eeeeee;
}

/*Left Nav*/
#data-header {
  background-color: #1E2A31;
  font-size: 1.5em;
  color: #9FAAB0;
  font-family: "Oswald";
  height: 60px;
}
.list-group .list-group-item {
  border-radius: 0;
  /*font-family: "Poppins";*/
  border: 0;
  background-color: #2B3942;
  color: #9FAAB0;
}

.list-group-item:nth-child(even) {
  background-color: #303E46;
}

/*Feed*/

.framed:first-child {
  margin-top: 0;
}

.card {
  margin: 10px;
  border: 0;
  border-radius: 0;
  font-family: "Oswald";
  background-color: #22313A;
}


.card-feed {
  height: 50px;
  /*border: 0;*/
  /*border-radius: 0;*/
  background-color: #2B3942;
  font-size: 1.5em;
}
/*.card-img-top:first-child {
  margin-top: 0;
}*/

.card-img-top {
  border-radius: 0;
  /*margin-top: 10px;*/
}



.framed {
  border: 1px dotted #9FAAB0;
  margin: 30px 0 0 0;
  background-color: #303E46;
  /*padding-bottom: 0;*/
  margin-top: 30px;
  /*border-radius: 0;*/
  font-family: "Roboto Slab";
  box-shadow: 0 0 20px 2px #1E2A31;
}
.card-header {
  /*background-color: #303E46;*/
  background-color: #22313A;
  font-family: "Roboto Slab";
  /*border-radius: 0;*/
}
.card-block {
  /*background-color: #1E2A31;*/
  background-color: #22313A;
}
.card-text {
  font-family: "Poppins";
}
.card-footer {
  background-color: #303E46;
  /*background-color: #22313A;*/
  font-family: "Roboto Slab";
  /*height: 30px;*/
  border: 0;
}

/*Log in*/
.login-area {
  margin: 50px 10px;
  /*background-color: #303E46;*/
  border: 1px dotted #9FAAB0;
  padding-bottom: 40px;
  box-shadow: 0 0 50px 10px #1E2A31;
}
.user {
  /*background-color: white;*/
  height: 300px;
  width: 250px;
  margin: 30px 20px 0 20px;
}
img {
  object-fit: cover;
  margin: auto;
}
.profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #9FAAB0;
  box-shadow: 0 0 30px 10px #1E2A31;

}


/*todos*/



#task-form{
	margin: 80px 0 ;
}
#task-form input{
	height:60px;
	width:80%;
	padding-left:20px;
	font-size:20px;
	float:left;
	font-family: 'roboto slab', sans-serif;
	transition: all 0.3s;
}
#task-form input:focus, #task-form input:active, #task-form button:focus, #task-form button:active{
	transition: all 0.3s;
}
#task-form button{
	height:60px;
	width:19%;
	background: grey;
	font-size:1em;
	color:#FFF;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	transition: all 0.3s;
	position: relative;
}
#task-form button:before{
	height: 1px;
	width: 100%;
	position: absolute;
	content: " ";
	top: 0px;
	left: 0;
}
#task-form button:hover{
	opacity: 0.8;
	transition: all 0.3s;
}



/*------------------*/
/* List Styles*/
/*------------------*/
#task-container ul{
	overflow:hidden;
}
#task-container .task-headline{
	display:none;
	color:#666666;
	border-bottom:1px solid #C8C7BB;
	padding-bottom: 20px;
	margin-bottom:20px;
	font-size:1.6em;
	position: relative;
}
#task-container .task-headline:before{
	height: 1px;
	width: 100%;
	background: #FFF;
	position: absolute;
	content: " ";
	bottom: 0px;
	left: 0;
}
#task-container .nothing-message{
	background:url("../img/logo2.png") no-repeat center 20px;
	height:160px;
	color:#666;
	background-size: 15%;
}
#task-container li{
	display:none;
	float:left;
	width:49%;
	overflow: auto;
	height:auto;
	min-height:10px;
	background:#FFF;
	display: inline-block;
	padding:20px;
	border:1px solid #CCC;
	color:#666;
	border-top:9px solid #39D1B4;
	cursor:pointer;
	margin-bottom:10px;
	margin-right:2%;
	transition: all 0.3s;
	position: relative;
}
#task-container li:nth-child(even){
	margin-right: 0;
}
#task-container li:hover{
	opacity: 0.8;
	border-top:9px solid #F0553B;
}
#task-container p{
	line-height: 1.6em;
	text-align: left;
}
#task-container li.complete{
	opacity:0.3;
	border-top:9px solid #666;
	transition: all 0.3s;

}
#task-container li.complete:before{
	background:url("../img/complete.png") no-repeat;
	position: absolute;
	top:5px;
	right:5px;
	content: "";
	width: 55px;
	height: 55px;
	background-size: 100%;
}
#task-container li.complete:hover{
	border-top:9px solid #F0553B;
	opacity:0.6;
}
#task-container li.complete p{
	text-decoration: line-through;
}

/*-------------------------*/
/* Secondary Control Styles*/
/*-------------------------*/
#controls{
	display:none;
	text-align: center;
	clear:both;
	margin-top:60px;

	background:#E4E3D5;
	padding:20px;
	border:1px solid #c8c7bb;
}
#controls p{
	display:inline-block;
	color:#666;
	font-style: italic;
}
#controls p:first-child{
	margin-right:20px;
}
#clear-all-tasks{
	clear:both;
	margin-top:20px;
	background:#999;
	border:none;
	color:#FFF;
	padding:10px 20px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	transition: all 0.3s;
}
#clear-all-tasks:hover{
	background:#666;
	transition: all 0.3s;
}
